[user]
	name = Kevin OBrien
	email = kevin.obrien@praece.com
[core]
	editor = nano
[push]
	default = simple
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[http "https://git.flynn.praece.com"]
	sslCAInfo = /Users/kevin/.flynn/ca-certs/default.pem
[credential "https://git.flynn.praece.com"]
	helper = /usr/local/bin/flynn git-credentials
