# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* *;
	fi;
}

# `s` with no arguments opens the current directory in Sublime Text, otherwise
# opens the given location
function s() {
	if [ $# -eq 0 ]; then
		if [[ -n ./*.sublime-project(#qN) ]]; then
			subl ./*.sublime-project;
		else
			subl .
		fi;
	else
		subl "$@";
	fi;
}

# `o` with no arguments opens the current directory, otherwise opens the given
# location
function o() {
	if [ $# -eq 0 ]; then
		open .;
	else
		open "$@";
	fi;
}

function code () {
	if [ $# -eq 0 ]; then
		VSCODE_CWD="$PWD" open -n -b "com.microsoft.VSCode" --args .;
	else
		VSCODE_CWD="$PWD" open -n -b "com.microsoft.VSCode" --args $*; ;
	fi;
}